@using IgdbApi.Lib.Models

@model FullGameData;

@{
    ViewData["Title"] = Model.GameDetails[0].name;
}

<div>

    <h2>@Model.GameDetails[0].name:</h2>

    <img src="@Model.LargeCoverUrl" width="264" height="374" />
    <img src="@Model.Covers[0].url"/>

    <p></p>

    <h5>Release Date(s):</h5>

    @{
        if (Model.ReleaseDates != null)
        {
            <li>@String.Join(", ", Model.ReleaseDates.Select(x => x.human).ToArray())</li>
        }
    }

    <p></p>

    <h5>Genre(s):</h5>

    @{
        if (Model.Genres != null)
        {
            <li>@String.Join(", ", Model.Genres.Select(x => x.name).ToArray())</li>
        }
    }

    <p></p>

    <h5>Platforms:</h5>

    @{
        if (Model.Platforms != null)
        {
            <li>@String.Join(", ", Model.Platforms.Select(x => x.name).ToArray())</li>
        }
    }

    <p></p>

    <h5>Summary:</h5>

    @Model.GameDetails[0].summary

    <p></p>

    <h5>Storyline:</h5>

    @Model.GameDetails[0].storyline

    <p></p>

    <h5>Artwork:</h5>

    @{
        if (Model.LargeArtworkUrls != null)
        {
            foreach (string item in Model.LargeArtworkUrls)
            {
                <img src="@item" />
            }
        }
    }

</div>